<h1><%= @article.title.capitalize %></h1>
<p><%= @article.text %></p>

<h2> Add a comment: </h2>
<%= form_for @article.comments.build , url: article_comments_path(@article) do |f| %>
<%#= form_with( model: [@article, @article.comments.build] ) do |f|%>
  <%= f.label :commenter %><br>
  <%= f.text_field :commenter%><br>
  <%= f.label :body %><br>
  <%= f.text_area :body%><br>
  <%= f.submit %>
<% end %>

<%= link_to "back", articles_path %>
